{% extends 'base.html' %}

{% block content %}

<div class="col-12 p-4">
    <div class="card rounded-3 shadow-sm overflow-hidden"></div>
    <h5 class="card-header bg-light py-3 text-center">
        <i class="fas fa-clipboard-list me-2"></i> Listado de asignaciones
    </h5>
    <hr>
    <br>
    <div class="table-responsive">
        <table class="table table-striped table-hover mb-0">
            <thead class="table-dark">
                <tr>
                    <th>Nombre de Empleado</th>
                    <th>Equipo Asigando</th>
                    <th>Ubicacion/th>
                    <th>Fecha de asignacion</th>
                    <th>Fecha de devolucion</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for asignacion in asignaciones %}
                <tr>
                    <td>{{ asignacion.empleado }}</td>
                    <td>{{ asignacion.equipo }}</td>
                    <td>{{ asignacion.ubicacion }}</td>
                    <td>{{ asignacion.fecha_asignacion }}</td>
                    <td>{{ asignacion.fecha_devolucion }}</td>
                    <td>
                        <button class="btn btn-danger"
                            onclick="confirmarEliminacion('asignacion', '{% url 'eliminarasignacion' asignacion.id %}')">
                            Eliminar
                        </button>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4" class="text-center">No hay asignaciones registradas</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock %}