{% extends 'base.html' %}
{% block content %}
<div class="container-fluid px-4 mt-4">
    <div class="row">
        <div class="col-md-12">
            <h2 class="mb-4 text-body">Resultado de búsqueda para: "{{ buscar }}"</h2>
            <p class="text-body">Se han encontrado los siguientes resultados:</p>

            {% if equipo %}
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-desktop me-1"></i> Equipos Encontrados
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Modelo</th>
                                <th>Serial</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for e in equipo %}
                            <tr>
                                <td>{{ e.nombre }}</td>
                                <td>{{ e.modelo }}</td>
                                <td>{{ e.serial }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% endif %}

            {% if empleado %}
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-users me-1"></i> Empleados Encontrados
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Cédula</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for emp in empleado %}
                            <tr>
                                <td>{{ emp.nombre }}</td>
                                <td>{{ emp.apellido }}</td>
                                <td>{{ emp.cedula }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% endif %}

            {% if ubicacion %}
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-map-marker-alt me-1"></i> Ubicaciones Encontradas
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        {% for u in ubicacion %}
                        <li class="list-group-item">{{ u.ubicacion }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endif %}

            {% if asignacion %}
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-map-marker-alt me-1"></i> Asignaciones Encontradas
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Nombre_Empleado</th>
                                <th>Equipo_Asignado</th>
                                <th>Ubicacion</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for a in asignacion %}
                            <tr>
                                <td>{{ a.empleado }}</td>
                                <td>{{ a.equipo }}</td>
                                <td>{{ a.ubicacion }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% endif %}

            {% if not equipo and not empleado and not ubicacion and not asignacion %}
            <div class="alert alert-warning mt-3">
                No se encontró ninguna coincidencia en la base de datos.
            </div>
            {% endif %}

        </div>
    </div>
</div>
{% endblock %}