{% extends 'base.html' %}

{% block title %}Dashboard - Inventario{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1>Bienvenido al Dashboard</h1>
        <p>Aquí puedes gestionar tu inventario.</p>
        <br>
        <b>
        <div class="card text-center shadow-sm">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <button class="nav-link active" id="resumen-tab" data-bs-toggle="tab" data-bs-target="#resumen"
                            type="button">Resumen</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" id="detalles-tab" data-bs-toggle="tab" data-bs-target="#detalles"
                            type="button">Detalles</button>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content" id="myTabContent">
                    <!-- Contenido Pestaña 1 -->
                    <div class="tab-pane fade show active" id="resumen" role="tabpanel">
                        <h5 class="card-title">Stock Total</h5>
                        <p class="card-text display-4 text-primary font-weight-bold">1,250</p>
                        <p class="text-muted">Productos registrados actualmente.</p>
                    </div>
                </div>    
            </div>        
        </div>  
        <br>     
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        </b>
       
    </div>
</div>
{% endblock %}